<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  
  <%= link_to "Back to recipes", recipes_path %>

  <%= link_to 'Generate shopping list', general_shopping_list_path(recipe_id: @recipe.id) %>

  <%= link_to 'Add ingredient', new_recipe_food_path(recipe_id: @recipe.id) %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
