<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  
  <%= link_to 'Generate shopping list', general_shopping_list_path, class: "add-food-btn" %>

  <%= link_to 'Add ingredient', new_recipe_food_path(recipe_id: @recipe.id), class: "add-food-btn" if can? :edit, @recipe %>


  <table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_food.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
        <td>$ <%= recipe_food.quantity * recipe_food.food.price %></td>
        <td>
          <%= link_to 'Modify', edit_recipe_food_path(recipe_food), class: "send-button" if can? :edit, recipe_food %> 
          <%= button_to 'Remove', recipe_food_path(recipe_food), method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, recipe_food %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



  <%= link_to "Back to recipes", recipes_path, class: "add-food-btn" %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete if can? :destroy, @recipe %>
</div>
